p {
 
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
 
 }
 
label {
    font-family: sans-serif;
    font-size: 11px;
 }
 
#div1 {
    display: inline-block;
    width:300px;
    height:490px;
    vertical-align: top;
}

#div2 {
    display: inline-block;
    width:600px;
    height:490px;
}

.land {
  fill: #ccc;
	fill-opacity: 0.8;
	stroke: #3b3b3b;
	stroke-width: 0.3px;
}
.graticule {
    fill: none;
    stroke: #777;
	stroke-width: 0.2px;
}